requests
flask
gunicorn
python-dotenv
google-auth
flask-session
google-auth-oauthlib
google-auth-httplib2
google-cloud-secret-manager
flask-sqlalchemy
psycopg2-binary
flask-login
flask_bcrypt
flask-migrate
flask-limiter
flask-session
flask-wtf