<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer Result</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Answer Result</h1>

        {% if request.form['answer'] == correctAnswer %}
            <p class="result correct"><strong>Correct!</strong> 🎉</p>
        {% else %}
            <p class="result incorrect">Incorrect. The correct answer was: <strong>{{ correctAnswer }}</strong></p>
        {% endif %}

        <h2 class="score">Score: {{ score }}</h2>

        <h2 class="next-question-heading">Next question from the same category:</h2>
        <form action="{{ url_for('ask_question') }}" method="get" id="nextQuestionForm">
            <button type="submit" id="nextQuestionBtn" class="btn btn-primary">Next Question</button>
        </form>

        <h2 class="next-category-heading">Or choose a new category:</h2>
        <form action="{{ url_for('choose_category') }}" method="get" id="nextCategoryForm">
            <button type="submit" id="nextCategoryBtn" class="btn btn-primary">Choose Category</button>
        </form>

        <hr>

        <form action="{{ url_for('logout') }}" method="get" id="indexForm">
            <button type="submit" id="indexBtn" class="btn btn-primary">Logout</button>
        </form>
    </div>

    <script>
        document.getElementById("nextQuestionForm").addEventListener("submit", function(event) {
            const submitButton = document.getElementById("nextQuestionBtn");
            submitButton.disabled = true;
            submitButton.innerText = "Submitting..."; // Change button text
        }); 
        document.getElementById("nextCategoryForm").addEventListener("submit", function(event) {
            const submitButton = document.getElementById("nextCategoryBtn");
            submitButton.disabled = true;
            submitButton.innerText = "Submitting..."; // Change button text
        });
        document.getElementById("indexForm").addEventListener("submit", function(event) {
            const submitButton = document.getElementById("indexBtn");
            submitButton.disabled = true;
            submitButton.innerText = "Submitting..."; // Change button text
        });
    </script>
    <footer>
        <p>Powered by <a href="https://the-trivia-api.com" target="_blank">The Trivia API</a></p>
    </footer>
</body>

</html>
