<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Category</title>
</head>
<body>
    <form method="post" action="{{ url_for('choose_category') }}">
        <label for="category">Choose a category:</label>
        <select id="category" name="category" required>
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.displayname }}</option>
            {% endfor %}
        </select>
        <br>
        <ul>
            <li>Easy is 1 point</li>
            <li>Medium is 2 points</li>
            <li>Hard is 3 points</li>
        </ul>
        <label for="difficulty">Choose difficulty:</label>
        <select name="difficulty" id="difficulty" required>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <br>
        <button type="submit">Next</button>
    </form>
</body>
</html>
