<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>    
    <div class="container">          
        {% if current_user.is_authenticated %}            
            <div class="card">
                <h1>Welcome to the Trivia Game!</h1>
                <h2>Welcome, {{ current_user.username }}!</h2>
                <form action="{{ url_for('choose_category') }}" method="get" id="choose_category">
                    <button type="submit" id="choose_categorybtn">Start Game</button>
                </form>
                <form action="{{ url_for('logout') }}" method="get" id="logout">
                    <button type="submit" id="logoutbtn">Logout</button>
                </form>
            </div>
        {% else %}
            <div class="card">
                <h1>Welcome to the Trivia Game!</h1>
                <form action="{{ url_for('register') }}" method="get" id="register">
                    <button type="submit" id="registerbtn">Register for an account</button>
                </form>
                <form action="{{ url_for('login') }}" method="post" id="login">
                    {{ form.hidden_tag() }}
                    <label for="username">Username:</label>
                    {{ form.username() }}
                    
                    <label for="password">Password:</label>
                    {{ form.password() }}

                    {{ form.submit(class_='form-button') }}
                </form>
            </div>
        {% endif %}
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <script>
        document.getElementById("choose_category").addEventListener("submit", function(event) {
            const submitButton = document.getElementById("choose_categorybtn");
            submitButton.disabled = true;
            submitButton.innerText = "Submitting..."; // Change button text
        });    
        document.getElementById("logout").addEventListener("submit", function(event) {
            const submitButton = document.getElementById("logoutbtn");
            submitButton.disabled = true;
            submitButton.innerText = "Submitting..."; // Change button text
        });  
        document.getElementById("register").addEventListener("submit", function(event) {
            const submitButton = document.getElementById("registerbtn");
            submitButton.disabled = true;
            submitButton.innerText = "Submitting..."; // Change button text
            this.submit()
        }); 
    </script>
    <footer>
        <p>Powered by <a href="https://the-trivia-api.com" target="_blank">The Trivia API</a></p>
    </footer>
</body>
</html>
