<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Game</title>
</head>
<body>
    <h1>Welcome to the Trivia Game!</h1>
    {% if current_user.is_authenticated %}
        <h2>Welcome, {{ current_user.username }}!</h2>
        <form action="{{ url_for('choose_category') }}" method="get">
            <button type="submit" class="btn btn-primary">Start Game</button>
        </form> 
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form> 

    {% else %}
    
    <form action="{{ url_for('googlelogin') }}" method="get">
        <button type="submit" class="btn btn-primary">Login with Google</button>
    </form> 
       
    <form action="{{ url_for('register') }}" method="get">
        <button type="submit" class="btn btn-primary">Register for an account </button>            
    </form>
    
    <form action="{{ url_for('login') }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>

        <button type="submit">Login</button>
    </form>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>
