<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Create an Account</h1>
        <form action="{{ url_for('register') }}" method="POST" class="form" id="register">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required class="form-control">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required class="form-control">
            </div>

            <button type="submit" class="btn btn-primary" id="registerbtn">Register</button>
        </form>
        <p class="redirect-link"><a href="{{ url_for('index') }}">Already have an account?</a></p>
    </div>
    <script>
        document.getElementById("register").addEventListener("submit", function(event) {
            const submitButton = document.getElementById("registerbtn");
            submitButton.disabled = true;
            submitButton.innerText = "Submitting..."; // Change button text
        });
    </script>
    <footer>
        <p>Powered by <a href="https://the-trivia-api.com" target="_blank">The Trivia API</a></p>
    </footer>
</body>

</html>
